.page-index-container {
  padding: 75px;
}

.page-index-item {
  background-color: white;
  margin: 10px;
}

.page-clickable-title {
  font-size: 25px;
  color: var(--blue);
}

.page-url {
  color: green;
}
